# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
.DS_Store
dist
*.local

# Build artifacts
tsconfig.tsbuildinfo

# Test artifacts
playwright-report
test-results
coverage

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
