# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
generated_plugin_registrant.dart

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/local.properties
**/android/**/gradle-wrapper.jar
